<!-- FOR EACH MEET -->

<% @meets.each do |m| %>

    <div class="meet">

        <div class="date">
            <span class="day">08</span>
            <span class="month">Mar</span>
            <span class="year">2011</span>
        </div>

        <div class="highlights">

            <div class="heading"><h1><%= m.name %></h1></div>

            <div class="content">
                awesome
            </div>

        </div>

    </div>

<% end %>
