// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#notice {
    color: red;
    border: red 1px;
}

#loginbox {
    background: #474747;
    color: #fff;
    position: absolute;
    left: 40%;
    top: 25%;
    padding: 15px;
}

td {
    padding: 5px;
}
