<!DOCTYPE html>
<html>
<head>
    <title>BuzzRuns</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>    
<link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <h1><a href="/">BuzzRuns</a></h1>
            <div id="navbar">
                <div class="nav-section">
                    <a href="/meets/">Meets</a>
                </div>
                <div class="nav-section">
                    <a href="/performances/records/">Records</a>
                </div>
                <div class="nav-section">
                    <a href="/blog/">Blog</a>
                </div>
                <div class="nav-section">
                    <a href="/admin/">Coach</a>
                    <ul>
                        <li><a href="/admin/milage/">Milage</a></li>
                        <li><a href="/admin/performances/">Performances</a></li>
                    </ul>
                </div>
                <div class="nav-section">
                    <a href="/my/profile/">Athlete</a>
                    <ul>
                        <li><a href="/my/journal/">Journal</a></li>
                        <li><a href="/my/performances/">Performances</a></li>
                    </ul>
                </div>
                <div class="nav-section">
                    <a href="/login">Login</a>
                </div>
                <div class="nav-section">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <div id="content">
            <%= yield %>
        </div>
    </div>
</body>
</html>

